<div class="utama">
  <div class="card">
    <h1>Login</h1>  
    <form class="form-floating" [formGroup]="loginData" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input type="email" class="form-control email" id="floatingInput" placeholder="name@example.com" formControlName="username">
        <label for="floatingInput">Username</label>
        @if(loginData.get('identifier')?.invalid && loginData.get('invalid')?.touched){
          <span class="error">Username is Required</span>
        }
      </div>
      <div class="form-floating">
        <input type="password" class="form-control password" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
        @if(loginData.get('password')?.invalid && loginData.get('password')?.touched){
          <span class="error">Password is Required (min 6 characters)</span>
        }
      </div>
      @if(errorMessage()){
        <div class="alert alert-danger mt-3" role="alert">
          {{ errorMessage() }}
        </div>
      }
      <div class="links">
        <a href="/accountRecovery">Forgot password?</a>
        <a routerLink="/signup">Register now</a>
      </div>

      <button class="btn btn-primary submitBtn" type="submit" [disabled]="loginData.invalid || isLoading()">
        {{ isLoading() ? 'Logging in...' : 'Submit' }}
      </button>
    </form>
  </div>
</div>  