<div class="wrapper" [class.dark]="isDark" [class.light]="!isDark">
  <div class="orb-1"></div>
  <div class="orb-2"></div>

  <button class="theme-toggle" (click)="toggleTheme()">
    {{ isDark ? '☀️' : '🌙' }}
  </button>

  <div class="card" [class.dark]="isDark" [class.light]="!isDark">
    <div class="logo">
      <div class="logo-dot"></div>
      <span class="logo-text">CHAINFOLIO</span>
    </div>

    <h1 class="title">Create <span class="accent">Account</span></h1>
    <p class="subtitle">Start tracking your portfolio today</p>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="signupForm.get('username')?.hasError('required')">Username is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="signupForm.get('email')?.hasError('email')">Invalid email</mat-error>
      </mat-form-field>

 
      <mat-form-field appearance="outline" class="field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" />
        <button matSuffix type="button" class="toggle-btn" (click)="togglePassword()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">Minimum 6 characters</mat-error>
      </mat-form-field>

  
      <mat-form-field appearance="outline" class="field">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPass" [type]="hideConfirm ? 'password' : 'text'" />
        <button matSuffix type="button" class="toggle-btn" (click)="toggleConfirm()">
          <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPass')?.touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
      <button mat-flat-button class="btn-primary" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Creating account...' : 'Create Account' }}
      </button>

    </form>

    <p class="switch">Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>